:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: Muli, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-titles-color: var(--bs-gray-800);
  --bs-body-color: var(--bs-gray-600);
  --bs-body-bg: var(--bs-gray-100);
  --bs-social-icons-bg: var(--bs-gray-800);
  --bs-social-icons-color: var(--bs-gray-100);
  --bs-h1-font-size: calc(1.725rem + 5.7vw);
  --bs-h2-font-size: calc(1.475rem + 2.7vw);
  --bs-bold-font-weight: 700;
  --bs-bold-font-family: 'Saira Extra Condensed', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[data-theme='dark'] {
  --bs-titles-color: var(--bs-gray-100);
  --bs-body-color: var(--bs-gray-100);
  --bs-body-bg: var(--bs-gray-900);
  --bs-social-icons-bg: var(--bs-gray-800);
  --bs-social-icons-color: var(--bs-gray-100);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
  font-weight: var(--bs-bold-font-weight);
  color: var(--bs-titles-color);
  font-family: var(--bs-bold-font-family);
}

h3,
.h3 {
  color: var(--bs-primary);
}

h1 {
  font-size: var(--bs-h1-font-size);
}

h2 {
  font-size: var(--bs-h2-font-size);
}

.lead {
  font-size: var(--bs-body-font-size);
}

.switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 30px;
}

.switch-wrapper .toggle-wrapper {
  margin: 10px;
}

.switch-wrapper .toggle-wrapper #switch {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.switch-wrapper .toggle-wrapper #switch:checked + label {
  background: var(--bs-primary);
}

.switch-wrapper .toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-wrapper .toggle-wrapper label:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: var(--bs-gray-100);
  border-radius: 100%;
}

.switch-wrapper .toggle-wrapper #switch:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

body {
  padding-top: 3.375rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 0;
    padding-left: 4rem;
  }
}

#sideNav {
  padding-left: 1rem;
  padding-right: 1rem;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
  outline-color: var(--bs-primary);
}

@media (max-width: 992px) {
  @keyframes scroll {
    from {
      width: 100%;
    }
    to {
      width: 4rem;
    }
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 1rem;
    max-height: 1rem;
  }
  .desktop-only {
    display: none !important;
  }
  #sideNav {
    flex-direction: row;
  }
  #sideNav .navbar-collapse {
    align-items: center;
  }
}

.navbar-toggler {
  display: none;
}

.ml-5 {
  margin-left: 0.5rem;
}

@media (min-width: 992px) {
  @keyframes scroll {
    from {
      width: 100%;
    }
    to {
      width: 17rem;
    }
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
  }
  #sideNav {
    flex-direction: column;
  }
  #sideNav .navbar-collapse {
    align-items: flex-start;
  }
}

/* footer {
  border-top: var(--bs-primary) 1px solid;
} */

/* Animation */
#sideNav .navbar-brand .img-profile{
  animation: zoom 2s linear ; 
}
@keyframes zoom {
  from {
    transform: scale(2.2);
  }
  to {
    transform: scale(1.1);
  }
}

#sideNav .navbar-collapse .navbar-nav{
  animation: hidd 5s linear ; 
  animation-fill-mode: forwards;
  
}
@keyframes hidd {
  from {
    opacity : 0;
  }
  to {
    opacity : 1;
  }
}
#sideNav{
  animation: scroll 2s linear  ;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}



#sideNav {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}
#sideNav .navbar-brand {
  display: flex;
  margin: auto auto 0;
  padding: 0.5rem;
}

#sideNav .navbar-brand .img-profile {
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

#sideNav .navbar-collapse {
  display: flex;
  flex-grow: 0;
  width: 100%;
  margin-bottom: auto;
}
#sideNav .navbar-collapse .navbar-nav {
  flex-direction: column;
  width: 100%;
}
#sideNav .navbar-collapse .navbar-nav .nav-item {
  display: block;
}
#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
}

.subheading {
  font-family: var(--bs-bold-font-family);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--bs-social-icons-bg);
  color: var(--bs-social-icons-color);
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}

.social-icons .social-icon:hover {
  background-color: var(--bs-primary);
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons li:hover {
  color: var(--bs-primary);
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 75rem;
}
section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 992px) {
  section.resume-section {
    padding: 3rem;
  }
}

#about {
  padding-top: 5rem;
}

